.presentation {
  min-height: calc(100vh - 40px);
  width: 90vw;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    max-width: 1170px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: center;

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap-reverse;
      gap: 40px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 100%;
      max-width: 370px;
    }

    @media (max-width: 1024px) {
      div:last-child {
        max-width: 280px;
      }
    }

    p {
      font-size: 1.5rem;
      font-family: Raleway, sans-serif;
      font-weight: 400;
      color: var(--gray-darker);
      margin-bottom: 4px;
    }

    h1 {
      font-size: 2rem;
      font-family: Raleway, sans-serif;
      font-weight: 700;
      color: var(--black-light);
      margin-bottom: 8px;
    }

    h2 {
      font-size: 1.125rem;
      font-family: Raleway, sans-serif;
      font-weight: 400;
      color: var(--gray-darker);
      line-height: 1.375rem;
    }
  }
}

.about {
  width: 100%;
  height: 100%;
  padding: 80px 0;

  background-color: var(--purple);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: var(--white);
    font: 700 3rem Raleway, sans-serif;
    margin-bottom: 32px;
  }

  p {
    width: 90vw;
    max-width: 970px;
    font: 400 1rem Roboto, sans-serif;
    line-height: 24px;

    color: var(--white-dark);
    margin-bottom: 24px;
  }

  p:last-child {
    margin-bottom: none;
  }
}

.skill {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;

  margin-top: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > h1 {
    font-size: 3rem;
    color: #203046;
    text-align: center;
  }

  & > div {
    margin-top: 48px;
    margin-bottom: 96px; // IF CREATE ANOTHER ELEMENT BELOW THIS;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media(max-width:1024px) {
      display: block;
      overflow-x: scroll;
    }
  }
}

.listSkills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;

  & > li {
    list-style: none;
  }

  @media(max-width:1024px) {
    flex-direction: row;
    justify-content: flex-start;
    margin: 12px;
    gap: 40px;
    width: 100%;
    padding-right: 40px;

    & > li:last-child > div {
      margin-right: 12px;
    }
  }
}

.box {
  max-width: 770px;
  width: 90vw;
  min-height: 164px;
  padding: 32px;
  background: var(--purple);
  border-radius: 8px;

  margin: 0 auto;
  margin-bottom: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  b {
    font-size: 1.5rem;
    margin-bottom: 24px;
    color: var(--white);
    text-align: center;
  }

  a {
    width: 200px;
    height: 50px;

    font-size: 1rem;
    text-decoration: none;
    background: transparent;

    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .2s, color .2s;
    
    svg {
      margin-right: 8px;
    }

    &:hover {
      background: var(--white);
      color: var(--purple)
    }
  }
}